.jumbotron{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.source-code{
    padding-top: 10px;
}